<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>544035dwd.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,0},{166,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{166,81}}</string>
        <key>sourceSize</key>
        <string>{166,81}</string>
      </dict>
      <key>54034.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,0},{169,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,95}}</string>
        <key>sourceSize</key>
        <string>{169,95}</string>
      </dict>
      <key>fgdfgdgdf.png</key>
      <dict>
        <key>frame</key>
        <string>{{822,180},{176,86}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,86}}</string>
        <key>sourceSize</key>
        <string>{176,86}</string>
      </dict>
      <key>420454caas.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,180},{140,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{140,73}}</string>
        <key>sourceSize</key>
        <string>{140,73}</string>
      </dict>
      <key>140254045.png</key>
      <dict>
        <key>frame</key>
        <string>{{851,83},{149,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{149,95}}</string>
        <key>sourceSize</key>
        <string>{149,95}</string>
      </dict>
      <key>4250254.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,97},{150,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,81}}</string>
        <key>sourceSize</key>
        <string>{150,81}</string>
      </dict>
      <key>534404533333333aaww.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,82},{678,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{678,80}}</string>
        <key>sourceSize</key>
        <string>{678,80}</string>
      </dict>
      <key>5344045222222.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,164},{678,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{678,80}}</string>
        <key>sourceSize</key>
        <string>{678,80}</string>
      </dict>
      <key>5344045.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{678,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{678,80}}</string>
        <key>sourceSize</key>
        <string>{678,80}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:e304a622651f6745920b4a52518ca9c6$</string>
      <key>textureFileName</key>
      <string>texture.png</string>
    </dict>
  </dict>
</plist>