<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xxx-zhangweitailunlu33.png</key>
      <dict>
        <key>frame</key>
        <string>{{1983,243},{43,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,93}}</string>
        <key>sourceSize</key>
        <string>{43,93}</string>
      </dict>
      <key>xxx-zhangweitailunlu32.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,175},{58,106}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,106}}</string>
        <key>sourceSize</key>
        <string>{58,106}</string>
      </dict>
      <key>xxx-zhangweitailunlu11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,310},{259,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{259,65}}</string>
        <key>sourceSize</key>
        <string>{259,65}</string>
      </dict>
      <key>xxx-zhangweitailunlu10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1215,279},{259,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{259,65}}</string>
        <key>sourceSize</key>
        <string>{259,65}</string>
      </dict>
      <key>xxx-zhangweitailunlu12.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,340},{518,130}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{518,130}}</string>
        <key>sourceSize</key>
        <string>{518,130}</string>
      </dict>
      <key>xxx-zhangweitailunlu08.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,172},{380,105}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{380,105}}</string>
        <key>sourceSize</key>
        <string>{380,105}</string>
      </dict>
      <key>xxx-zhangweitailunlu07.png</key>
      <dict>
        <key>frame</key>
        <string>{{1722,243},{259,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{259,65}}</string>
        <key>sourceSize</key>
        <string>{259,65}</string>
      </dict>
      <key>xxx-zhangweitailunlu03.png</key>
      <dict>
        <key>frame</key>
        <string>{{1232,0},{509,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{509,170}}</string>
        <key>sourceSize</key>
        <string>{509,170}</string>
      </dict>
      <key>xxx-zhangweitailunlu15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1614,259},{90,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,64}}</string>
        <key>sourceSize</key>
        <string>{90,64}</string>
      </dict>
      <key>xxx-zhangweitailunlu23.png</key>
      <dict>
        <key>frame</key>
        <string>{{1476,279},{81,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,67}}</string>
        <key>sourceSize</key>
        <string>{81,67}</string>
      </dict>
      <key>xxx-zhangweitailunlu13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1155,283},{49,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,67}}</string>
        <key>sourceSize</key>
        <string>{49,67}</string>
      </dict>
      <key>xxx-zhangweitailunlu22.png</key>
      <dict>
        <key>frame</key>
        <string>{{1612,325},{72,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,65}}</string>
        <key>sourceSize</key>
        <string>{72,65}</string>
      </dict>
      <key>xxx-zhangweitailunlu24.png</key>
      <dict>
        <key>frame</key>
        <string>{{1559,279},{51,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,73}}</string>
        <key>sourceSize</key>
        <string>{51,73}</string>
      </dict>
      <key>xxx-zhangweitailunlu25.png</key>
      <dict>
        <key>frame</key>
        <string>{{1967,338},{43,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,27}}</string>
        <key>sourceSize</key>
        <string>{43,27}</string>
      </dict>
      <key>xxx-zhangweitailunlu14.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,340},{84,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,37}}</string>
        <key>sourceSize</key>
        <string>{84,37}</string>
      </dict>
      <key>xxx-zhangweitailunlu18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1614,172},{106,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,85}}</string>
        <key>sourceSize</key>
        <string>{106,85}</string>
      </dict>
      <key>xxx-zhangweitailunlu16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1743,0},{259,241}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{259,241}}</string>
        <key>sourceSize</key>
        <string>{259,241}</string>
      </dict>
      <key>xxx-zhangweitailunlu06.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,175},{1153,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1153,163}}</string>
        <key>sourceSize</key>
        <string>{1153,163}</string>
      </dict>
      <key>xxx-zhangweitailunlu27.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{1230,173}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1230,173}}</string>
        <key>sourceSize</key>
        <string>{1230,173}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>texture.png</string>
      <key>size</key>
      <string>{2048,512}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:e304a622651f6745920b4a52518ca9c6$</string>
      <key>textureFileName</key>
      <string>texture.png</string>
    </dict>
  </dict>
</plist>